* {
        padding: 0;
        margin: 0;
        font-family: "Sedan", serif;
        font-weight: bolder;
        font-style: normal;

}

/* #frame3{
        min-height:100vh;
} */
.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* margin: 2vh; */
        height: 20vh;
}

.container .heading {
        width: 50vw;
        padding-bottom: 3vh;
}

.container .heading h1 {
        font-size: 4em;
        border-bottom: 3px solid black;
        padding-bottom: 2vh;
}

.card-container .col .card img {
        height: 40vh;
        width: 31vw;
        border-radius: 3px;
}

.card-container {
        display: flex;
        justify-content: center;
        height: 50vh;
        align-items: center;
}

.card img {
        width: 100%;
        object-fit: cover;
}

.card {
        width: 30vw;
}

.card-container .col .card {
        height: 40vh;
        margin: 2vh;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
}

.card-container .col .card .intro {
        width: 25vw;
        padding: 1px;
        box-sizing: border-box;
        position: absolute;
        color: white;
        bottom: 30vh;
        transition: 2s;
}

.card-container .col .card .intro h1 {
        margin: 1vh;
        font-size: 4vh;
}

.card-container .col .card .intro p {
        font-size: 2vh;
        margin: 2vh;
        visibility: hidden;
        opacity: 0;
}

.card-container .col .card:hover {
        cursor: pointer;
}

.card-container .col .card:hover .intro {
        height: 20vh;
        bottom: 5vh;
        background: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3));
        border: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
}

.card-container .col .card:hover .intro p {
        opacity: 1;
        visibility: visible;
}

.card-container .col .card:hover img {
        transform: scale(1.2) rotate(-1deg);
}