* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Sedan", serif;
        font-weight: bolder;
        font-style: normal;
}

.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2vh;
        height: 200vw;
}

.container .heading {
        width: 50vw;
        padding-bottom: 3vh;
}

.container .heading h1 {
        font-size: 4em;
        border-bottom: 3px solid black;
        padding-bottom: 2vh;
}

.container .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.container .box .dream {
        display: flex;
        flex-direction: column;
        width: 32%;
}

.container .box .dream img {
        width: 100%;
        padding-bottom: 2vh;
        transition: 1s;
}

@media only screen and (max-width:1100px) {
        .container .box {
                flex-direction: column;
        }

        .container .box .dream {
                width: 100%;
        }

        .container .heading h1 {
                font-size: 3em;
                padding-bottom: 1vh;
        }

        .container .heading {
                width: 80vw;
                padding-bottom: 2vh;
        }
}

.container .box .dream img:hover {
        transform: scale(1.03);
}

.lightbox {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 2% 0;
    }
    
    .lightbox-content {
        display: inline-block;
        max-width: 90%;
        max-height: 90%;
    }
    
    .lightbox img {
        padding-top: 10vh;
        width: 80%;
        height: auto;
        vertical-align: middle;
    }
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }